/* GLOBAL RESET*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* GLOBAL COLORS */
body {
  background-color: rgb(117, 142, 165, 1);
  color: rgba(233, 233, 233, 1);
}

a {
  color: rgba(233, 233, 233, .8);
  text-decoration: none;
}

a:hover {
  color: rgb(30, 93, 151);
}

a[href^="#"] {
  opacity: 50%;
}

.project-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* GLOBAL TYPOGRAPHY*/
body {
  font-family: "Roboto", sans-serif;
  font-size: 88.75%;
  /* 14px */
  line-height: 1.4;
}


/* HEADER */
header {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

header a {
  text-decoration: none;
  text-transform: uppercase;
}

header a:hover {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* SITE ID */
.site-id h1 {
  margin: 0;
}

/* SITE NAV */
.site-nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
}

.site-nav a {
  display: block;
  padding: .5em;
}

section {
  padding: 4em 0;
  display: grid;
  -ms-flex-align: center;
  align-items: center;
}


/* DBL LINE DECO HEADER */

header .dbllinedeco a {
  color: #fff;
  text-decoration: none;
  font: 14px "Futura", sans-serif;
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

/* DBL LINE DECO FOOTER */

footer .dbllinedeco a {
  color: rgba(233, 233, 233, .8);
  text-decoration: none;
  font: 14px "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

/* DBL LINE ANIMATION SITE NAV */

.site-nav.dbllineanim a:before,
.site-nav.dbllineanim a:after {
  position: absolute;
  opacity: 0.5;
  height: 100%;
  width: 1px;
  content: "";
  background: white;
  transition: all 0.5s;
}

.site-nav.dbllineanim a:before {
  left: 0px;
  top: 0px;
  height: 0%;
}

.site-nav.dbllineanim a:after {
  right: 0px;
  bottom: 0px;
  height: 0%;
}

.site-nav.dbllineanim a:hover:before,
.site-nav.dbllineanim a:hover:after {
  opacity: 1;
  height: 0.5px;
  width: 100%;
}

/* DBL LINE ANIMATION SOCIAL NAV */

.social-nav.dbllineanim a:before,
.social-nav.dbllineanim a:after {
  position: absolute;
  opacity: 0.5;
  height: 100%;
  width: 1px;
  content: "";
  background: rgba(233, 233, 233, .8);
  transition: all 0.5s;
}

.social-nav.dbllineanim a:before {
  left: 0px;
  top: 0px;
  height: 0%;
}

.social-nav.dbllineanim a:after {
  right: 0px;
  bottom: 0px;
  height: 0%;
}

.social-nav.dbllineanim a:hover:before,
.social-nav.dbllineanim a:hover:after {
  opacity: 1;
  height: 0.5px;
  width: 100%;
}

/* FOOTER */
footer {
  padding: 1em;
}

footer a {
  color: rgba(233, 233, 233, .8);
  display: block;
  padding: 1em;
  text-decoration: none;
}

footer a:hover {
  color: rgba(168, 203, 236, 1);
}

/* LAYOUT */
.container {
  max-width: 1000px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .two-col-sidebar {
    display: grid;
    grid-template-columns: 20em auto;
  }

  .two-col-sidebar aside {
    border-right: 1px solid rgb(245, 244, 244);
    margin: 0 3em 2em 0;
    padding: 0.3em 2em 0 0;
  }
}

section {
  padding: 3em 1em;
}

/* SIDEBAR/ASIDE */
aside {
  padding: 0 1em;
}

.primary {
  padding: 0 1em;
}

/* SOCIAL NAV */
.social-nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-nav a {
  display: block;
  padding: 1em;
}

/* HERO SECTION */

.hero {
  text-align: center;
  color: white;
  padding: 6em 1em;
}

.hero h2 {
  font-family: 'Press Start 2P';
  font-size: 4em;
  line-height: 2;
  text-transform: uppercase;
  margin: 4 auto;
}

/* NEON LIGHT & FLICKER ANIMATION */

.neon-lights {
  letter-spacing: 2;
  text-transform: uppercase;
  font-size: 6em;
  color: #ffe6ff;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #b785f5,
    -0.2rem 0.1rem 1rem #b785f5, 0.2rem 0.1rem 1rem #b785f5,
    0 -0.5rem 2rem #956aca, 0 0.5rem 3rem #956aca;
  animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {

  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #b785f5,
      -0.2rem 0.1rem 1rem #b785f5, 0.2rem 0.1rem 1rem #b785f5,
      0 -0.5rem 2rem #956aca, 0 0.5rem 3rem #956aca;
  }

  28%,
  33% {
    color: #b785f5;
    text-shadow: none;
  }

  82%,
  97% {
    color: #956aca;
    text-shadow: none;
  }
}

.flicker-fast {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

@keyframes shine {
  0% {
    color: #6a4398;
    text-shadow: none;
  }

  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #b785f5,
      -0.2rem 0.1rem 1rem #b785f5, 0.2rem 0.1rem 1rem #b785f5,
      0 -0.5rem 2rem #956aca, 0 0.5rem 3rem #956aca;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}

.hero p {
  max-width: 30em;
  text-align: center;
  margin: 1em auto;
}

/* COURSE SECTION */
.courses {
  padding: 6em 1em;
  display: grid;
  justify-content: center;
}

.courses ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


.courses a {
  text-decoration: none;
}

.courses h3 {
  text-align: center;
}

/* CUSTOM STYLING FOR SPECIFIC & SUB PAGES */

.page-home header {
  background-color: transparent;
  position: absolute;
  width: 100%;
}

.page-sub header {
  background-color: transparent;
  position: absolute;
  width: 100%;
}

.page-sub .hero {
  background-image: url(../img/giphy2.gif);
  background-position: center;
  background-size: cover;
}

.page-home .hero {
  background-image: url(../img/giphy2.gif);
  background-position: center;
  border: 1px solid red;
}


/* COURSE WORK SECTION */
.coursework {
  padding: 6em 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.projects {
  margin: 1em;
}

/* CODE BLOCKS */
pre code {
  width: 100%;
  display: grid;
  border: 1px solid #ddd;
  background-color: rgb(117, 142, 165, 1);
  padding: 1em 3em;
  margin-bottom: 1em;
  line-height: 1.5;
}

.markup-box {
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: rgb(117, 142, 165, 1);
  padding: 1em 3em;
  margin-bottom: 1em;
}

/* DEFINITION LISTS */
dt {
  font-weight: bold;
  margin-top: 1em;
}

dd {
  margin: 0;
}