body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(89, 175, 104);
  margin: 0;
  text-align: center;
  display: grid;
  align-content: center;
  min-height: 100vh;
}

h1 {
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  text-align: center;
}

p {
  color: rgb(14, 46, 20);
  max-width: 30em;
  margin: 0 auto;
}

ul {
  margin: 0 auto;
  padding: 0;
}

a {
  color: black;
}
