/* GLOBAL RESET*/
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

/* GLOBAL COLORS*/
body {
  background-color: rgb(2, 2, 2);
  color: rgb(247, 247, 247);
}
a {
  color: rgba(247, 247, 247, 0.8);
}
a:hover {
  color: rgb(0, 141, 71, 1);
}

/* GLOBAL TYPOGRAPHY*/
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 88.75%; /* 14px */
  line-height: 1.4;
}

/* HEADER */
header {
  background-color: rgb(8, 8, 8);
  color: rgba(0, 0, 0, 0.8);
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

header a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  text-transform: uppercase;
}

header a:hover {
  color: rgba(0, 141, 71, 1);
}

/* SITE ID */
.site-id h1 {
  margin: 0;
}

/* SITE NAV */
.site-nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
}

.site-nav a {
  display: block;
  padding: 1em;
}

/* MAIN */
main {
  background: (0, 0, 0, 0.05);
}

section {
  padding: 3em 1em;
}

/* FOOTER */
footer {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding: 1em;
}

/* LAYOUT */
.container {
  max-width: 1000px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .two-col-sidebar {
    display: grid;
    grid-template-columns: 20em auto;
  }

  .two-col-sidebar aside {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0 3em 2em 0;
    padding: 0.3em 2em 0 0;
  }
}

section {
  padding: 3em 1em;
}

/* SIDEBAR/ASIDE */
aside {
  padding: 0 1em;
}

.primary {
  padding: 0 1em;
}

/* SOCIAL NAV */
.social-nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-nav a {
  display: block;
  padding: 1em;
}

/* HERO SECTION */
.hero {
  background-color: rgba(0, 141, 71, 1);
  text-align: center;
  color: white;
  padding: 6em 1em;
}

.hero h2 {
  font-size: 6em;
  line-height: 1;
  text-transform: uppercase;
  margin: 0 auto;
}

.hero p {
  max-width: 30em;
  text-align: center;
  margin: 1em auto;
}

/* COURSE SECTION */
.courses {
  padding: 6em 1em;
  display: grid;
  justify-content: center;
}

.courses ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.courses h3 {
  text-align: center;
}

/* CUSTOM STYLING FOR SPECIFIC & SUB PAGES */
.page-sub .hero {
  background-color: rgb(75, 75, 75);
  color: rgba(247, 247, 247);
}

.page-home .hero {
  background-image: url(../img/neonkeys.jpg);
  background-position: center;
  background-size: cover;
  padding: 30vh 1em 20vh 1em;
}

.page-home header {
  background-color: transparent;
  position: absolute;
  width: 100%;
}

/* COURSE WORK SECTION */
.coursework {
  padding: 6em 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.projects {
  margin: em;
}

/* CODE BLOCKS */
pre code {
  width: 100%;
  display: block;
  border: 1px solid #ddd;
  background-color: rgb(8, 8, 8);
  padding: 1em 3em;
  margin-bottom: 1em;
  line-height: 1.5;
}

.markup-box {
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: rgb(8, 8, 8);
  padding: 1em 3em;
  margin-bottom: 1em;
}

/* DEFINITION LISTS */
dt {
  font-weight: bold;
  margin-top: 1em;
}
dd {
  margin: 0;
}

/* FOR WEB DEV PURPOSES ONLY
body, * {
    background-color: rgba(0,0,0,.05);
    border: 1px solid rgba(0,0,0,.1);
    color: rgba(0,0,0,.5); */
