/* GLOBAL RESETS */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*

TABLE OF CONTENTS

# GLOBAL RESETS
# BASE TYPOGRAPHY
# BUTTONS
# MEDIA
    # RESPONSIVE IMAGES
# LAYOUT
    # CONTAINER
    # MEDIA QUERIES
    # SYMANTIC GRID SYSTEM
# STRUCTURE
    # SITE HEADER
    # SITE NAV
    # MAIN
        # SECTIONS
    # SITE FOOTER


*/
/* BASE COLORS */
body {
  color: rgba(0, 0, 0, 0.8);
}

h1,
h2,
h3 {
  color: rgb(0, 0, 0);
}

/* BASE TEXT FONTS */
body {
  font-family: "itc-avant-garde-gothic-pro", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3 {
  font-family: "mrs-eaves-xl-serif", serif;
}

/* BASE TYPOGRAPHY */
body {
  font-size: 100%;
  line-height: 1.4;
}

h1,
h2,
h3,
p {
  margin: 0 0 0.5em 0;
}

/* SECTION HEADING */
.section-heading {
  font-size: 1rem;
  font-family: "itc-avant-garde-gothic-pro", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: 0 0 0.5em 0;
  margin: 3em auto 3em auto;
}

/* TYPOGRAPHIC SCALE */
h1 {
  font-size: 3rem;
  line-height: 1;
}

h2 {
  font-size: 2rem;
  line-height: 1.1;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.2;
}

/* LIMIT # OF CHARACTERS PER LINE */
p {
  max-width: 40em;
}

/* LINKS */
a {
  color: rgba(0, 0, 0, 0.8);
}
a:hover {
  color: rgba(240, 190, 90, 0.8);
}

/* HORIZONTAL LINE */
hr {
  border: 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 3em 0;
}

/* TYPE SPECIMEN */
.headline {
  font-size: 4rem;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  color: rgb(226, 239, 124);
}

.subheadline {
  font-weight: normal;
  font-size: 2.5rem;
  margin: 0.25em 0;
  color: rgb(122, 203, 157);
}

/* BUTTONS */
.button-hero,
button {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-decoration: none;
  padding: 1em;
  border-radius: 0.5em;
  margin: 1em 0.5em 1em 0;
}
.button-hero:hover,
button:hover {
  color: white;
  background-color: rgba(240, 190, 90, 0.8);
  border-radius: 1em;
  -webkit-transition: ease-in 250ms;
  transition: ease-in 250ms;
}

.button,
button {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1em;
  border-radius: 0.3em;
  margin: 1em 0.5em 1em 0;
}
.button:hover,
button:hover {
  color: white;
  background-color: rgba(240, 190, 90, 0.8);
  -webkit-transition: ease-in 200ms;
  transition: ease-in 200ms;
}

/* MEDIA */
/* RESPONSIVE IMAGES */
img {
  max-width: 100%;
  height: auto;
}

/* RESET BODY */
body {
  margin: 0;
}

/* CONTAINER */
.container {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 1000px;
}

#pikoinfo {
  margin: 0 auto;
  padding: 4em 1em;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
#pikoinfo h2 {
  color: white;
  margin: 0;
}

.hero-container {
  margin: 0 6em;
  width: 1200px;
}

/* MEDIA QUERIES */
/* RESPONSIVE TYPOGRAPHY */
body {
  font-size: 87.5%;
}

@media (min-width: 768px) {
  body {
    font-size: 100%;
  }
}
@media (min-width: 1250px) {
  body {
    font-size: 112.5%;
  }
}
/* SYMANTIC GRID */
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -2%;
  margin-right: -2%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.row > * {
  margin: 2%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.row.centered {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.row.swap {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.row.stack {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.row.align-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (min-width: 768px) {
  .row {
    /* GRID HELPERS */
  }
  .row > * {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .row .one-whole {
    width: 96%;
  }
  .row .one-half {
    width: 46%;
  }
  .row .one-third {
    width: 29.3333%;
  }
  .row .two-thirds {
    width: 62.6666%;
  }
  .row .one-fourth {
    width: 21%;
  }
  .row .three-fourth {
    width: 71%;
  }
  .row .push-one-fourth {
    margin-left: 27%;
  }
  .row .push-one-third {
    margin-left: 35.333%;
  }
  .row .push-one-half {
    margin-left: 52%;
  }
  .row .centered {
    margin-left: auto;
    margin-right: auto;
  }
}

/* CUSTOM GRID */
.text-card {
  background: rgb(225, 225, 225);
  color: rgba(0, 0, 0, 0.8);
  padding: 1em 2.5em;
  border: 5px solid rgb(225, 225, 225);
  border-top-left-radius: 2.5em;
  border-bottom-right-radius: 2.5em;
}

/* FOR DEMO PURPOSES */
.demo .row > * {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1%;
}

/* SITE STRUCTURE */
.site-header {
  position: absolute;
  width: 100%;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.site-header a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}
.site-header h1 {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.logo {
  max-width: 50px;
}

.site-id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* SITE FOOTER */
.site-footer {
  background: rgba(0, 0, 0, 0.8);
  padding: 8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.site-footer a {
  color: rgba(225, 225, 225, 0.8);
  text-decoration: none;
}

/* SECTION */
section {
  background: transparent;
  padding: 4em 0;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* HERO SECTION */
section.hero {
  padding-bottom: 0;
}

.hero {
  padding: 6em 0;
  color: rgba(0, 0, 0, 0.8);
  background: transparent;
  min-height: 100vh;
}
.hero h1 {
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.8);
  font-size: 12rem;
}
.hero h3 {
  margin: 0 auto;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(33.3%, rgb(205, 205, 205)), color-stop(66.3%, rgb(215, 215, 215)));
  background: linear-gradient(rgb(205, 205, 205) 33.3%, rgb(215, 215, 215) 66.3%);
}

canvas {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

/* TO HIDE SOMETHING VISUALLY */
.hide-visually {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* SITE-HEADER SITE-NAV */
.site-header .site-nav a {
  color: rgba(255, 255, 255, 0.8);
}
.site-header .site-nav .menu-button {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
  font-size: 1.5rem;
  line-height: 1;
  z-index: 20;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.site-header .site-nav .menu-button svg {
  fill: rgb(132, 169, 140);
}
.site-header .site-nav .menu-button svg rect {
  border-radius: 1em;
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}
.site-header .site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
  -webkit-transition: all 350ms ease-out;
  transition: all 350ms ease-out;
  z-index: 1;
}
.site-header .site-nav li {
  font-size: 8vw;
  min-width: 30vw;
  -webkit-transform: translate(0, -10%);
          transform: translate(0, -10%);
  -webkit-transition: all 300ms ease-out 500ms;
  transition: all 300ms ease-out 500ms;
  opacity: 0;
}
.site-header .site-nav #bar-top,
.site-header .site-nav #bar-middle,
.site-header .site-nav #bar-bottom {
  -webkit-transform-origin: center;
          transform-origin: center;
}
.site-header .site-nav[data-navstate=open] .menu-button {
  position: fixed;
}
.site-header .site-nav[data-navstate=open] #bar-top {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translate(7px, 7px) rotate(-45deg);
          transform: translate(7px, 7px) rotate(-45deg);
}
.site-header .site-nav[data-navstate=open] #bar-middle {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translate(-2px, -11px) rotate(137deg);
          transform: translate(-2px, -11px) rotate(137deg);
}
.site-header .site-nav[data-navstate=open] #bar-botton {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translate(0, -4px) rotate(45deg);
          transform: translate(0, -4px) rotate(45deg);
}
.site-header .site-nav[data-navstate=open] ul {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.site-header .site-nav[data-navstate=open] li {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

/* FOOTER SITE NAV */
.site-footer .site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.site-footer .site-nav a {
  display: inline-block;
  padding: 0 1em;
  line-height: 1;
}

/* ANIMATIONS */
.hero .container *,
.hero[data-sectionstate=inactive] .container * {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  opacity: 0;
  -webkit-transform: translate(0, -20px);
          transform: translate(0, -20px);
}
.hero .container *:nth-child(1),
.hero[data-sectionstate=inactive] .container *:nth-child(1) {
  -webkit-transition-delay: 400ms;
          transition-delay: 400ms;
}
.hero .container *:nth-child(2),
.hero[data-sectionstate=inactive] .container *:nth-child(2) {
  -webkit-transition-delay: 500ms;
          transition-delay: 500ms;
}
.hero .container *:nth-child(3),
.hero[data-sectionstate=inactive] .container *:nth-child(3) {
  -webkit-transition-delay: 600ms;
          transition-delay: 600ms;
}
.hero .container *:nth-child(4),
.hero[data-sectionstate=inactive] .container *:nth-child(4) {
  -webkit-transition-delay: 700ms;
          transition-delay: 700ms;
}
.hero .container *:nth-child(5),
.hero[data-sectionstate=inactive] .container *:nth-child(5) {
  -webkit-transition-delay: 800ms;
          transition-delay: 800ms;
}
.hero[data-sectionstate=active] .container *,
.hero[data-sectionstate=inactive][data-sectionstate=active] .container * {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

#section1 .one-half:nth-child(1) {
  -webkit-transition: all 1250ms ease-out;
  transition: all 1250ms ease-out;
  -webkit-transform: translate(-50px, 0);
          transform: translate(-50px, 0);
}
#section1[data-sectionstate=active] .one-half:nth-child(1) {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
#section1 .one-half:nth-child(2) {
  -webkit-transition: all 1250ms ease-out;
  transition: all 1250ms ease-out;
  -webkit-transform: translate(50px, 0);
          transform: translate(50px, 0);
}
#section1[data-sectionstate=active] .one-half:nth-child(2) {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

#section2 .one-half:nth-child(1) {
  -webkit-transition: all 1250ms ease-out;
  transition: all 1250ms ease-out;
  -webkit-transform: translate(-50px, -50px);
          transform: translate(-50px, -50px);
}
#section2[data-sectionstate=active] .one-half:nth-child(1) {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
#section2 .one-half:nth-child(2) {
  -webkit-transition: all 1250ms ease-out;
  transition: all 1250ms ease-out;
  -webkit-transform: translate(50px, 50px);
          transform: translate(50px, 50px);
}
#section2[data-sectionstate=active] .one-half:nth-child(2) {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

/* UTILITY / HELPER CLASSES FOR ANIMATION */
.animate-scale-in,
[data-sectionstate=inactive] .animate-scale-in {
  -webkit-transition: all 1000ms ease-out;
  transition: all 1000ms ease-out;
  opacity: 0;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

[data-sectionstate=active] .animate-scale-in {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.animate-slide-up,
[data-sectionstate=inactive] .animate-slide-up {
  -webkit-transition: all 1000ms ease-out;
  transition: all 1000ms ease-out;
  opacity: 0;
  -webkit-transform: translate(0, 50px);
          transform: translate(0, 50px);
}

[data-sectionstate=active] .animate-slide-up {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.animate-drop-delay *,
[data-sectionstate=inactive] .animate-drop-delay * {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  opacity: 0;
  -webkit-transform: translate(0, -20px);
          transform: translate(0, -20px);
}
.animate-drop-delay *:nth-child(1),
[data-sectionstate=inactive] .animate-drop-delay *:nth-child(1) {
  -webkit-transition-delay: 400ms;
          transition-delay: 400ms;
}
.animate-drop-delay *:nth-child(2),
[data-sectionstate=inactive] .animate-drop-delay *:nth-child(2) {
  -webkit-transition-delay: 500ms;
          transition-delay: 500ms;
}
.animate-drop-delay *:nth-child(3),
[data-sectionstate=inactive] .animate-drop-delay *:nth-child(3) {
  -webkit-transition-delay: 600ms;
          transition-delay: 600ms;
}
.animate-drop-delay *:nth-child(4),
[data-sectionstate=inactive] .animate-drop-delay *:nth-child(4) {
  -webkit-transition-delay: 700ms;
          transition-delay: 700ms;
}
.animate-drop-delay *:nth-child(5),
[data-sectionstate=inactive] .animate-drop-delay *:nth-child(5) {
  -webkit-transition-delay: 800ms;
          transition-delay: 800ms;
}

[data-sectionstate=active] .animate-drop-delay * {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

section.scroll-text {
  margin: 0;
  padding: 0;
  min-height: 0;
}

marquee {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 2em 0;
  overflow: hidden;
}
marquee img {
  margin: 0 1em;
}
marquee p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  white-space: nowrap;
  -webkit-animation: flow 8000ms linear infinite;
          animation: flow 8000ms linear infinite;
  font-size: 1rem;
}
@-webkit-keyframes flow {
  0% {
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
  }
  100% {
    -webkit-transform: translate3d(-50%, 0px, 0px);
            transform: translate3d(-50%, 0px, 0px);
  }
}
@keyframes flow {
  0% {
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
  }
  100% {
    -webkit-transform: translate3d(-50%, 0px, 0px);
            transform: translate3d(-50%, 0px, 0px);
  }
}

/* LOTTIE GIF ANIMATIONS */
.yellow-swirl {
  position: absolute;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  z-index: -5;
  opacity: 0.5;
}

.yellow-swirl2 {
  position: absolute;
  z-index: -5;
  opacity: 0.5;
}